body {
    background-color:bisque;
    /* padding: 250px; */
}

h1, dl, form {
text-align: center;
}

/* dl, form {
    margin-left: 800px;
    
} */

dl{
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
}

dt {
padding: 10px;;
}

dd {
    text-align: center;
}